.clientsContainer {
  width: 100%;
  height: 74vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;

  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .clientsContainer {
    height: 68vh;
  }
}
