@import "vars";

.button {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $text-color;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 10px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font-weight: bolder;
  padding: 0.2vh 2vw;

  &:hover {
    color: $accent-color;
    background-color: $text-color;
  }

  &:focus {
    color: $accent-color;
    background-color: $text-color;
  }
}
