@import "vars";

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.label {
  color: $accent-color;
  font-size: 3vh;
  display: flex;
  align-items: flex-start;

  width: 100%;
  margin-bottom: 0.5vh;
}

.input {
  height: 4vh;
  width: calc(99% - 1vw);
  border-radius: 10px;
  border: 2px solid $accent-color;
  padding-left: 1vw;
  outline: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputSectionCheckBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5vh;
  outline: none;
}

.checkBoxLabel {
  color: $accent-color;
  font-size: 2vh;
  display: flex;
  align-items: flex-start;
}
